body {
}

.container-fluid {
    background-color: #3B314B;
}



.body_layout {
    background-color: #332A42;
    color: white;
}


.opcoes_menu a{
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 3px 10px;
    text-decoratio: none;
   
}

.table {
    color: white;
}

    .table a {
        background-color: white;
        border-radius: 20px;
        text-decoration: none;
        color: black;
        padding: 2px 7px;
    }

