body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #332A42;
}


.Container_login {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 55%;
}


.container_input_login {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 50px 0px;
    border-radius: 14px;
    background-color: #3B314B;
    color: white;
}


.container_usuario {
    display: flex;
    flex-direction: column;
}

.container_senha {
    display: flex;
    flex-direction: column;
}

.inputuser {
    width: 300px;
    height: 30px;
    background-color: #524665;
    padding-left: 10px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    color: white;
}

.inputsenha {
    width: 300px;
    height: 30px;
    background-color: #524665;
    padding-left: 10px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    color: white;
}

.botao_login {
    width: 200px;
    height: 40px;
    background-color: #7BCC74;
    color: #332A42;
    border: none;
    border-radius: 5px;
}

    .botao_login:hover {
        width: 200px;
        height: 40px;
        background-color: gray;
        border: none;
        cursor: pointer;
        color: black;
    }

.h1 {
    color: white;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
